.HeaderSpot {
  margin: 50px;
  padding: 25px;
  border-color: black;
  border: solid;
  border: 4px solid #008cba;
}

.button {
  border-color: green;
  border: solid;
  border-width: 25px;
  font-size: 20px;
  border-radius: 10px;
  display: inline-block;
  font-weight: bold;
  border: 4px solid #008cba;
}

#entireThing {
  margin: 50px;
  text-align: center;
}

#instruction {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

#instructionRed {
  color: red;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

#instructionGreen {
  color: green;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

#instructionPlace {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

#score {
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-align: left;
  margin-left: 100px;
}
#info {
  margin: 50px;
  padding: 0px;
  border-color: black;
  border: solid;
  font-size: 24px;
  border: 4px solid #008cba;
  border-radius: 10px;
  font-weight: bold;
}

#square {
  background-color: white;
  color: black;
  background: white;
  border: solid solid solid solid;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 45px;
  padding: 0;
  text-align: center;
  width: 45px;
}

#squareChosen:focus {
  background-color: white;
  border: none;
  background: none;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  padding: 0px;
  margin: 10px;
  text-align: center;
  width: 100px;
}

#squareChosen:focus {
  outline: none;
  background-color: white;
  border: none;
  background: none;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  padding: 0px;
  margin: 25px;
  text-align: center;
  width: 100px;
}

#squareHidden {
  background-color: white;
  border: none;
  background: none;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  padding: 0px;
  margin: 5px;
  text-align: center;
  width: 100px;
}

#squareHidden:focus {
  outline: none;
  background-color: white;
  border: none;
  background: none;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  padding: 0px;
  margin: 5px;
  text-align: center;
  width: 100px;
}

#found {
  background-color: white;
  color: red;
}

#squareMfound {
  background-color: green;
  color: white;

  border: solid solid solid solid;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 45px;
  padding: 0;
  text-align: center;
  width: 45px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 15px;
}

.toptitle {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 700px) {
  #info {
    margin: 2px;
    padding: 0px;
    border-color: black;
    border: solid;
    font-size: 24px;
    border: 4px solid #008cba;
    border-radius: 10px;
    font-weight: bold;
  }

  img {
    max-width: 100%;
  }
  #entireThing {
    margin: 0px;
    text-align: center;
  }
  #squareHidden {
    background-color: white;
    border: none;
    background: none;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 35px;
    padding: 0px;
    margin: 5px;
    text-align: center;
    width: 35px;
  }

  #squareHidden:focus {
    outline: none;
    background-color: white;
    border: none;
    background: none;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 35px;
    padding: 0px;
    margin: 5px;
    text-align: center;
    width: 35px;
  }
}
